<!-- Mobile menu button -->
<button
  id='mobile-menu-toggle'
  type='button'
  class='inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2'
  aria-controls='mobile-menu'
  aria-expanded='false'
>
  <span class='sr-only'>Open main menu</span>
  <!-- Menu open: "hidden", Menu closed: "block" -->
  <svg
    id='open-mobile-menu'
    class='block h-6 w-6'
    fill='none'
    viewBox='0 0 24 24'
    stroke-width='1.5'
    stroke='currentColor'
    aria-hidden='true'
  >
    <path
      stroke-linecap='round'
      stroke-linejoin='round'
      d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'></path>
  </svg>
  <!-- Menu open: "block", Menu closed: "hidden" -->
  <svg
    id='close-mobile-menu'
    class='hidden h-6 w-6'
    fill='none'
    viewBox='0 0 24 24'
    stroke-width='1.5'
    stroke='currentColor'
    aria-hidden='true'
  >
    <path
      stroke-linecap='round'
      stroke-linejoin='round'
      d='M6 18L18 6M6 6l12 12'></path>
  </svg>
</button>

<script>
  const mobileMenuButton = document.getElementById('mobile-menu-toggle')
  const openMobileMenu = document.getElementById('open-mobile-menu')
  const closeMobileMenu = document.getElementById('close-mobile-menu')
  const mobileMenu = document.getElementById('mobile-menu')

  mobileMenuButton?.addEventListener('click', () => {
    if (mobileMenu?.classList.contains('hidden')) {
      mobileMenu.classList.remove('hidden')
      openMobileMenu?.classList.add('hidden')
      closeMobileMenu?.classList.remove('hidden')
    } else {
      mobileMenu?.classList.add('hidden')
      openMobileMenu?.classList.remove('hidden')
      closeMobileMenu?.classList.add('hidden')
    }
  })
</script>
