---
export interface Props {
  href: string
}
const { href } = Astro.props
const currentPath = Astro.url.pathname
const active = href === currentPath
const ariaCurrent = active ? 'page' : undefined
const classes = active
  ? 'border-indigo-500 bg-indigo-50 text-indigo-700 block border-l-4 py-2 pl-3 pr-4 text-base font-medium'
  : 'border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800 block border-l-4 py-2 pl-3 pr-4 text-base font-medium'
---

<a href={href} class={classes} aria-current={ariaCurrent}>
  <slot />
</a>
